<%= form_for @team do |f| %>
	<% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being created:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div><%= f.label :team_name %><br />
	<%= f.text_field :team_name %></div>

	<div><%= f.submit "Create team" %></div>
<% end %>