<div class="work-order-unit span8 offset2">
	<h1>Work orders</h1>

	<div class="horizontal-button-group">
		<% if @team.managed_by?(current_user) %>
			<%= link_to " Add worker to team ", new_team_team_invitation_path(@team), :class => "flat-butt flat-inner-butt", :method => :get, :id => "add_worker_button", :data => {:toggle	=> "modal", :target => "#add-worker-modal"}, :remote => true %>
		<% end %>

		<% if @team.managed_by?(current_user) %>
			<%= link_to " Create work order ", new_team_order_path(@team), :class => "flat-butt flat-inner-butt", :method => :get %>
		<% end %>
	</div>

	<div id="add-worker-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-body">
	  </div>
	</div>

	<table class="table">
		<tr>
			<td><strong>Order name</strong></td>
			<td><strong>Assigned to</strong></td>
			<td><strong>Status</strong></td>
		</tr>
		<% @team.orders.each do |order| %>
			<% if order.assigned_to?(current_user) %>
			<tr class="<%= order.check_status_for_row_color(order.status) %>">
				<td><%= link_to order.name, team_order_path(@team, order) %></td>
				<td><%= order.worker.get_full_name %></td>
				<td><span class="<%= order.check_status_for_label_color(order.status) %>"><%= order.status.capitalize %></span><% if order.high_priority? %> <i class="icon-warning-sign"></i><% end %></td>
			</tr>
			<% end %>
		<% end %>
	</table>

	<p><%= link_to "Back", teams_path %></p>
</div>
