<div class="span8 offset2">
	<h1>Work orders</h1>

	<div class="horizontal-button-group">
		<% if @team.managed_by?(current_user) %>
			<%= link_to "Add worker to team", new_team_team_invitation_path(@team), :class => "btn", :method => :get %>
		<% end %>

		<% if @team.managed_by?(current_user) %>
			<%= link_to "Create work order", new_team_order_path(@team), :class => "btn", :method => :get %>
		<% end %>
	</div>

	<table class="table">
		<tr>
			<td><strong>Order name</strong></td>
			<td><strong>Assigned to</strong></td>
			<td><strong>Status</strong></td>
		</tr>
		<% @team.orders.each do |order| %>
			<% if order.assigned_to?(current_user) %>
			<tr class="<%= order.check_status_for_table(order.status) %>">
				<td><%= link_to order.name, team_order_path(@team, order) %></td>
				<td><%= order.worker.get_full_name %></td>
				<td><%= order.status.capitalize %></td>
			</tr>
			<% end %>
		<% end %>
	</table>

	<p><%= link_to "Back", teams_path %></p>
</div>
