<%= form_for [@order, @order_response] do |f| %>
  <% if @order_response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_response.errors.count, "error") %> prohibited this response from being made:</h2>

      <ul>
      <% @order_response.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div><%= f.label :response, "Leave a response", :class => "header3" %>
	<%= f.text_area :response, :size => "40x10", :class => "span6" %></div>

  <div><%= f.label :response, "Image attachment" %>
  <%= f.file_field :file_attachment %></div>

	<div><%= f.submit "Leave response", :class => "flat-butt flat-inner-butt" %></div>
<% end %>