<%= form_for [@team, @invitation] do |f| %>
	<% if @invitation.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being sent:</h2>

			<ul>
			<% @invitation.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :recipient_email, "Email address" %><br />
		<%= f.text_field :recipient_email %>
	</p>
	<p><%= f.submit "Invite worker" %></p>
<% end %>