<%= form_for [@team, @order] do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this work order from being created:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="control-group"><%= f.label :name, "Work order name", :class => "control-label" %>
	<div class="controls"><%= f.text_field :name, :class => "span6" %></div></div>

	<div class="control-group"><%= f.label :description, :class => "control-label" %>
	<div class="controls"><%= f.text_area :description, :size => "40x10", :class => "span6" %></div></div>

	<div class="control-group"><%= f.label :worker_id, "Assign work order to", :class => "control-label" %>
	<div class="controls"><%= f.select :worker_id, @team.team_memberships.map {|member| ["#{member.user.get_full_name} - #{member.user.email}"]}, include_blank: true %></div></div>

  <div class="control-group"><%= f.label :file_attachment, "Image attachment", :class => "control-label" %>
  <div class="controls"><%= f.file_field :file_attachment %></div></div>

  <div class="controls"><%= f.check_box :high_priority %>
  <%= f.label :high_priority, "Mark this work order as high priority" %></div>

	<div class="controls"><%= f.submit "Create work order", :class => "flat-butt flat-inner-butt span4" %></div>
<% end %>