<h1><%= @order.name %></h1>

<p>Current status of this work order: <%= @order.status.capitalize %></p>

<p>Description: <%= @order.description %></p>

<%= link_to @order.file_attachment_url do %>
	<%= image_tag @order.file_attachment_url(:thumb), class: "thumbnail-size-image" if @order.file_attachment? %>
<% end %>

<% if @order.order_responses.length > 0 %>
<h3>Responses</h3>
<% else %>
<h3>No responses have been left</h3>
<% end %>
	<table>
		<% @order.order_responses.each do |response| %>
		<tr>
			<td>
				<%= link_to "View attachment", response.file_attachment_url if response.file_attachment? %>
			</td>
			<td><%= "#{response.user.get_full_name} responded: #{response.response}" %></td>
		</tr>
		<% end %>
	</table>

<% unless @order.closed? %>
	<%= render 'order_responses/form' %>
<% end %>

<% if @order.assigned? %>
	<p><%= link_to "Complete", team_order_complete_path(@team, @order), :method => :put %></p>
<% end %>

<% if @order.completed? && @team.managed_by?(current_user) %>
	<p><%= link_to "Reassign", team_order_reassign_path(@team, @order), :method => :put %></p>
<% end %>

<% if (@order.completed? || @order.assigned?) && @team.managed_by?(current_user) %>
	<p><%= link_to "Close", team_order_close_path(@team, @order), :method => :put %></p>
<% end %>

<% if !@order.closed? && @team.managed_by?(current_user) %>
	<p><%= link_to "Edit work order", edit_team_order_path(@team, @order) %></p>
<% end %>

<p><%= link_to "Back", team_path(@team) %></p>
