<div class="work-order-unit span8 offset2 text-center">
	<h1>Welcome to OrderTrak</h1>
	<p class="lead muted">Please sign in or register to continue.</p>

		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

		  <div class="control-group"><%= f.label :email, "Email address", :class => "control-label" %>
		  <div class="controls"><%= f.email_field :email, :autofocus => true, :class => "span4" %></div></div>

		  <div class="control-group"><%= f.label :password, :class => "control-label" %>
		  <div class="controls"><%= f.password_field :password, :class => "span4" %></div></div>

		  <div class="controls"><%= f.submit "Sign In", :class => "flat-butt flat-inner-butt span4" %></div>

		<% end %>
		or register an account:
		<%= render "devise/shared/links" %>

		<iframe width="560" height="315" src="//www.youtube.com/embed/ON6u3ZYJhu8?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
